#controlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters.noHeader)

<script type="text/javascript">
    function openConfluenceBrowserWindow(element)
    {
        var vConfBrowser = window.open('${req.contextPath}/secure/popups/ConfluencePageBrowser.jspa?doReset=true&formName=jiraform&element=' + element, 'confluencebrowser', 'status=no,resizable=yes,top=50,left=200,width=580,height=700,scrollbars=yes');
        vConfBrowser.opener = self;
        vConfBrowser.focus();
    }
</script>

<input type="text"
       name="$customField.id"
       value="$textutils.htmlEncode($!value)"
       id="$customField.id"
       class="textfield"
       maxlength="254"
       #if ($configs.styles.style) style="$configs.styles.style" #end
       />

<a href="javascript:openConfluenceBrowserWindow('$customField.id');" title="Search Confluence">
<img title="Search Confluence" alt="Search Confluence" name="pagepicker"
src="$req.contextPath/images/icons/search_16.png" hspace="0" height="16" width="16" border="0" align="absmiddle"/></a>

#controlFooter ($action $fieldLayoutItem.fieldDescription $displayParameters.noHeader)